/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroTitle {
  margin-bottom: 1rem;
}

.heroLogo {
  display: block;
  margin: 0 auto;
  max-width: min(560px, 80%);
  height: auto;
  image-rendering: pixelated;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
