/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e5a5a;
  --ifm-color-primary-dark: #1b5151;
  --ifm-color-primary-darker: #194d4d;
  --ifm-color-primary-darkest: #153f3f;
  --ifm-color-primary-light: #216363;
  --ifm-color-primary-lighter: #226768;
  --ifm-color-primary-lightest: #277575;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-footer-padding-vertical: 0.75rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3cb9be;
  --ifm-color-primary-dark: #36a7ab;
  --ifm-color-primary-darker: #339da2;
  --ifm-color-primary-darkest: #309498;
  --ifm-color-primary-light: #4cc2c7;
  --ifm-color-primary-lighter: #56c5ca;
  --ifm-color-primary-lightest: #5fc8cd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}